* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat';
    background-color: beige
}

.playfair {
    font-family: 'Playfair Display'
}

#landingbody {
    background: url("images/mainbg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.navbar {
    background-color: rgb(55, 32, 40);
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: white;
    transition: 0.5s;
    z-index: 1000;
}

.nav-link,
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
    color: black;
}

.formbox {
    background-color: rgb(211,211,211, 0.5);
}

.sidelink {
    margin-top: 40px;
}
.my-container { 
transition: 0.4s; 
} 
.active-nav { 
margin-left: 0; 
} 
/* for main section */ 
.active-cont { 
margin-left: 180px; 
} 

.large-box{
    border: 1px black solid;
    padding: 10px; 
    margin-top: 20px; 
    height: 200px; 
    border-radius: 6%;
}
.medium-box, .small-box{
    border: 1px black solid;
    padding: 10px; 
    margin-top: 20px; 
    height: 200px; 
    border-radius: 10%;
}
.amenities-box{
    border: 1px black solid;
    padding: 10px; 
    margin-top: 20px; 
    border-radius: 10%;
}
.searchbg{
    width: 100%;
    background-color: #86502F;
    padding: 10px;
}