* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat';
    background-color: #EEE9D2;
}
.team-image{
    border-radius: 50%;
    width: 150px; 
    height: 150px;
    margin-top: 20px;
}
.team-name{
    color: white;
    margin-top: 10px;
    margin-top: 20px;
}
.playfair {
    font-family: 'Playfair Display';
    color: #F8B709;
}

#landingbody {
    background: url("images/mainbg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.navbar {
    background-color: #372028;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-navbar {
    /* border-right: 2px solid black; */
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #EEE9D2;
    /* background-color: white; */
    transition: 0.5s;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
}
.side-navbar li{
    background-color: #EEE9D2;
}

.nav-link,
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
    color: black;
}

.formbox {
    background-color: rgb(211,211,211, 0.5);
}

.sidelink {
    margin-top: 40px;
}
.my-container { 
transition: 0.4s; 
} 
.active-nav { 
margin-left: 0; 
} 
/* for main section */ 
.active-cont { 
margin-left: 180px; 
} 

.large-box{
    border: 3px black solid;
    padding: 10px; 
    margin-top: 20px; 
    height: 200px; 
    border-radius: 10px;
}
.medium-box, .small-box{
    border: 3px black solid;
    padding: 10px; 
    margin-top: 20px; 
    height: 200px; 
    border-radius: 10%;
}

.amenities-box{
    border: 3px black solid;
    padding: 10px; 
    margin-top: 20px; 
    border-radius: 10%;
    height: 95%;
}
.searchbg{
    width: 100%;
    background-color: #86502F;
    padding: 10px;
}

/* for login.html and register.html*/
#loginbody{
    background: url("images/mainbg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#loginbox {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 90vh;
}

#loginbox > div {
    width: 40%;
    background-color: rgb(55, 32, 40);
    border-radius: 20px;
    color: #E7E4CA;
}

#loginbox button {
    font-weight: bold;
    text-align: center;
}

#loginbox .activedot {
    height: 25px;
    width: 25px;
    background-color: #F8B709;
    border-radius: 50%;
    display: inline-block;
  }

#loginbox .inactivedot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#loginbox .form-control{
    background-color: #EEE9D2;
}
/* for viewingpage.html */
.card{
    border-radius: 20px;
}

.cardimage{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title{
    font-weight: 900;   
    font-size: 18px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    color: #372028;
}

.card-text{
    font-size: 12px;
    font-weight: 700;
    text-shadow: 1px 0px;
    color: #666666;
}

.distance{
    font-size: 10px;
    font-weight: 700;
    color: #666666;
}

.distance-details{
    font-size: 8px;
    font-weight: 700;
    color: #666666;
}
.number-of-views{
    font-size: 8px;
    font-weight: 700;
    color: #666666;
}

.listing-price{
    color: #372028;
}

.typography-headline-elevated {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-family: "Montserrat","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#selection select {
    width: 200px;
}

.listingArea {
    color: rgb(55, 32, 40);
    text-transform: uppercase;
    text-shadow: 1px 0px;
}

.details-price {
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 1px 0px;
}

/* colors */
#MRTBOX .NSL {
    background-color: lightcoral;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}


#MRTBOX .EWL {
    background-color: lightgreen;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}


#MRTBOX .CCL {
    background-color: yellow;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#MRTBOX .NEL {
    background-color: plum;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#MRTBOX .DTL {
    background-color: #1E90FF;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#MRTBOX .TEL {
    background-color: brown;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#listings-box .NSL{
    background-color: lightcoral;
    color: white;
    font-weight: bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

#listings-box .EWL{
    background-color: lightgreen;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 0px;
}

#listings-box .CCL{
    background-color: yellow;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 0px;
}

#listings-box .NEL{
    background-color: plum;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 0px;
}

#listings-box .DTL{
    background-color: #1E90FF;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 0px;
}

#listings-box .TEL{
    background-color: brown;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 0px;
}