* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

body {
    font-family: "Montserrat";
    background-color: #eee9d2;
}
.team-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}
.team-name {
    color: white;
    margin-top: 10px;
    margin-top: 20px;
}
.playfair {
    font-family: "Playfair Display";
    color: #f8b709;
}

#landingbody {
    background: url("images/mainbg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: #372028;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-navbar {
    /* border-right: 2px solid black; */
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #eee9d2;
    /* background-color: white; */
    transition: 0.5s;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
}
.side-navbar li {
    background-color: #eee9d2;
}

.nav-link,
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
    color: black;
}

.formbox {
    background-color: rgb(211, 211, 211, 0.5);
}

.sidelink {
    margin-top: 40px;
}
.my-container {
    transition: 0.4s;
}
.active-nav {
    margin-left: 0;
}
/* for main section */
.active-cont {
    margin-left: 180px;
}

.large-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    padding: 10px;
    margin-top: 20px;
    height: 200px;
    border-radius: 10px;
    background-color: #eee9d2;
}
.medium-box,
.small-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    padding: 10px;
    margin-top: 20px;
    height: 200px;
    border-radius: 10px;
    background-color: #eee9d2;
}

.amenities-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    height: 95%;
    background-color: #eee9d2;
}

.searchbg {
    width: 100%;
    background-color: #86502f;
    padding: 10px;
}

/* for login.html and register.html*/
#loginbody {
    background: url("images/mainbg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loginbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#loginbox > div {
    width: 40%;
    background-color: rgb(55, 32, 40);
    border-radius: 20px;
    color: #e7e4ca;
}

#loginbox button {
    font-weight: bold;
    text-align: center;
}

#loginbox .activedot {
    height: 25px;
    width: 25px;
    background-color: #f8b709;
    border-radius: 50%;
    display: inline-block;
}

#loginbox .inactivedot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#loginbox .form-control {
    background-color: #eee9d2;
}
/* for viewingpage.html */
.card {
    border-radius: 20px;
}

.cardimage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title {
    font-weight: 900;
    font-size: 18px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    color: #372028;
}

.card-text {
    font-size: 12px;
    font-weight: 700;
    text-shadow: 1px 0px;
    color: #666666;
}

.distance {
    font-size: 10px;
    font-weight: 700;
    color: #666666;
}

.distance-details {
    font-size: 8px;
    font-weight: 700;
    color: #666666;
}
.number-of-views {
    font-size: 8px;
    font-weight: 700;
    color: #666666;
}

.listing-price {
    color: #372028;
}

.typography-headline-elevated {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial",
        sans-serif;
}

#selection select {
    width: 200px;
}

.listingArea {
    color: rgb(55, 32, 40);
    text-transform: uppercase;
}

.details-price {
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 0px;
}

/* indivpage.html */
#indivpageaddress {
    margin-top: 20px;
    text-align: center;
    padding-top: 30px;
    font-weight: bolder;
    text-shadow: 0px 2px, 2px 0px, 2px 2px;
    letter-spacing: 1px;
    color: #eee9d2;
}

.page-price {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
    text-shadow: 0px 2px, 2px 0px, 2px 2px;
    letter-spacing: 1px;
    color: #eee9d2;
}

.page-price span {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 0px 2px, 2px 0px, 2px 2px;
    letter-spacing: 1px;
    color: #eee9d2;
}

.amenities-box h4 {
    margin: 10px;
    font-weight: bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.amenitieslist {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-left: 30px;
}

.amenitieslist li{
    margin-bottom: 15px;
}

.medium-box h3,
#tenantsCarousel h4 {
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

/* comparelistings.html */
.compare-address {
    color: #EEE9D2; 
    font-weight: 800;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.comparecard{
    background-color:  #eee9d2;
    border-radius: 20px;
    border: 0px;
}

/* colors */
#MRTBOX .NSL {
    background-color: lightcoral;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#MRTBOX .EWL {
    background-color: lightgreen;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#MRTBOX .CCL {
    background-color: yellow;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#MRTBOX .NEL {
    background-color: plum;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#MRTBOX .DTL {
    background-color: #1e90ff;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#MRTBOX .TEL {
    background-color: brown;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#listings-box .NSL, .comparestation .NS {
<<<<<<< Updated upstream
    background-color: lightcoral;
    color: black;
    font-weight: bolder;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
=======
    background-color: #FF6449;
    color: #EEE9D2;
    font-weight: 600;
    /* text-shadow: 0px 1px, 1px 0px, 1px 1px; */
>>>>>>> Stashed changes
}

#listings-box .EWL, .comparestation .EW {
    background-color: #6FB752;
    color: #EEE9D2;
    font-weight: 600;
    /* text-shadow: 1px 0px; */
}

#listings-box .CCL, .comparestation .CC {
    background-color: #FEC946;
    color: #eee9d2;
    font-weight: 600;
    /* text-shadow: 1px 0px; */
}

#listings-box .NEL, .comparestation .NE {
    background-color: #A477BB;
    color: #eee9d2;
    font-weight: 600;
    /* text-shadow: 1px 0px; */
}

#listings-box .DTL, .comparestation .DT {
    background-color: #4F83C4;
    color: #eee9d2;
    font-weight: 600;
    /* text-shadow: 1px 0px; */
}

#listings-box .TEL, .comparestation .TE {
    background-color: #86502F;
    color: #eee9d2;
    font-weight: 600;
    /* text-shadow: 1px 0px; */
}

.heart {
    position: absolute;
    left: -100vw;
}

.heartlabel {
    color: #aab8c2;
    cursor: pointer;
    font-size: 1em;
    align-self: center;
    transition: color 0.2s ease-in-out;
}

.heartlabel :hover {
    color: grey;
}

.heartlabel ::selection {
    color: none;
    background: transparent;
}

.heartlabel ::moz-selection {
    color: none;
    background: transparent;
}

.heart:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

/* Compare Page CSS */

h1.page-title {
    font-size: 48px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
    font-family: "Montserrat", sans-serif;
}

h1.page-bold {
    font-size: 24px;
    line-height: 1.0625;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

h6 {
    font-size: 16px;
    line-height: 1.21053;
    font-weight: 500;
    letter-spacing: 0.012em;
}

.carousel-inner > .carousel-item > img {
    height: 100px;
}

.comparecard h3 {
    color: #372028;
    font-size: 20px;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: 0.012em;
}


@media (min-width: 576px){
    h1.page-title {
        font-size: 48px;
    }

    h1.page-bold {
        font-size: 30px;
        line-height: 1.0625;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
    }

    .comparecard h3 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
        line-height: 1.21053;
        font-weight: 500;
        letter-spacing: 0.012em;
    }

    .carousel-inner > .carousel-item > img {
        height: 100px;
    }
}

@media (min-width: 768px) {
    h1.page-title {
        font-size: 48px;
    }

    h1.page-bold {
        font-size: 30px;
    }

    .comparecard h3 {
        font-size: 20px;
    }

    .form-select {
        font-size: 17px;
    }

    h6 {
        font-size: 17px;
    }

    .carousel-inner > .carousel-item > img {
        height: 200px;
    }
}

@media (min-width: 992px) {
    h1.page-title {
        font-size: 64px;
    }

    h1.page-bold {
        font-size: 32px;
    }

    .comparecard h3 {
        font-size: 24px;
    }

    .form-select {
        font-size: 18px;
    }

    h6 {
        font-size: 18px;
    }

    .carousel-inner > .carousel-item > img {
        height: 300px;
    }
}
@media (min-width: 1200px) {
    h1.page-title {
        font-size: 64px;
    }

    h1.page-bold {
        font-size: 40px;
    }

    .form-select {
        font-size: 19px;
    }

    h6 {
        font-size: 19px;
    }

    .carousel-inner > .carousel-item > img {
        height: 400px;
    }
}

.form-select {
    font-size: 16px;
    line-height: 1.21053;
    font-weight: 500;
    letter-spacing: 0.012em;
    color: #372028;
    text-align: left;
}

@keyframes heart {
    0%,
    17.5% {
        font-size: 0;
    }
}
