<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>haus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="index.css">
    <script type="module" src="jsfiles/index.js"></script>
    <script type="module" src="jsfiles/indiv.js"></script>
    <script type="module" src="jsfiles/navbar.js"></script>
    <!-- <script type="module" src="jsfiles/page.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="background-color: #372028">
    <nav class="navbar py-3 ">
        <div class="container-fluid py-0 ">
            <div class="justify-content-start">
                <button id="menu-btn" class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon navbar-dark"></span>
                </button>
                <a class="navbar-brand ms-4 text-dark justify-content-start text-white" href="index.html">haûs
                    <span><img src="./icons/hauslogo.svg" alt="" style="height: 40px;width:40px;"></span></a>
            </div>

            <ul class="nav align-middle justify-content-center p-0">
                <li class="nav-item" id="navbar_button_1">
                    <!-- <a class="nav-link text-dark text-white" style="background-color:rgb(55, 32, 40);" href="...">login</a> -->
                </li>
                <li class="nav-item" id="navbar_button_2">
                    <!-- <a class="nav-link text-dark text-white" style="background-color:rgb(55, 32, 40);" href="...">register</a> -->
                </li>
            </ul>
        </div>
    </nav>
    <div class="side-navbar d-flex justify-content-between flex-wrap flex-column" id="sidebar">
        <ul class="nav flex-column text-white w-100">
            <li class="nav-link sidelink">
                <span class="mx-2"><a href="viewingpage.html" style="text-decoration: none; color: black;">browse
                        listings</a></span>
            </li>
            <li class="nav-link sidelink">
                <span class="mx-2"><a href="favouritespage.html"
                        style="text-decoration: none; color: black;">favourites</a></span>
            </li>
            <!-- <li class="nav-link sidelink">
                <span class="mx-2"><a href="#" style="text-decoration: none; color: black;">chat</a></span>
            </li>
            <li class="nav-link sidelink">
                <span class="mx-2"><a href="#" style="text-decoration: none; color: black;">contract</a></span> -->
            </li>
            <li href="#" class="nav-link sidelink">
                <span class="mx-2"></span>
            </li>
        </ul>
    </div>



    <div id="content">

        <div class="d-flex flex-column min-vh-100" v-if="!dataLoaded">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center text-center">
                <h1 style="color:#EEE9D2" class="typography-headline-elevated">Preparing room ... Please wait...</h1>
            </div>
        </div>

        <div v-if="dataLoaded">
            <h1 id="indivpageaddress">{{listing_dict.listingAddress}}</h1>
            <h6 style="text-align: center; color: #EEE9D2;">{{listing_dict.roomType}}</h6>
            <hr style="width:100px; margin: auto;" />

            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="container-fluid" style="margin: auto">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img id="carou1" v-bind:src="images[0]"
                                            class="rounded-5 d-block w-100 image-fluid" alt="..."
                                            style="height: 400px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="carou2" v-bind:src="images[1]" class="rounded-5  d-block w-100"
                                            alt="..." style="height: 400px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img id="carou3" v-bind:src="images[2]" class="rounded-5 d-block w-100"
                                            alt="..." style="height: 400px;">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="page-price">SGD <span>{{listing_dict.price}}</span> / mth</h3>
            <!-- <div class="container-fluid" style="width:50%; margin: auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img id="carou1" src="./icons/hauslogo.svg" class="rounded-5 d-block w-100 image-fluid"
                                alt="..." style="height: 400px;">
                        </div>
                        <div class="carousel-item">
                            <img id="carou2" src="" class="rounded-5  d-block w-100" alt="..." style="height: 400px;">
                        </div>
                        <div class="carousel-item">
                            <img id="carou3" src="" class="rounded-5 d-block w-100" alt="..." style="height: 400px;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div> -->

            <div class="container-fluid mt-3" style="width:80%;">
                <div class="row">
                    <div class="col-lg-3 col-md-6 order-md-2 col-sm-6">
                        <div class="amenities-box text-center">
                            <h4>amenities list</h4>
                            <ul class="amenitieslist">
                                <li v-for="amen in listing_dict.amenities">
                                    <img v-bind:src="'./icons/' + amen + '.png' " alt=""
                                        style="width: 20px; height: 20px;">
                                    &nbsp {{amen}}
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 order-md-3 col-sm-6">
                        <div v-if="listing_dict.cookingallowed === true" class="medium-box">
                            <h3 style="text-align: center; margin-top: 25px;">
                                Cooking Allowed
                                <br>

                                <img src="./icons/cooking.png" alt=""
                                    style="width: 50px; height: 50px; margin-top: 20px;">
                            </h3>
                        </div>
                        <div v-else class="medium-box">
                            <h3>
                                Cooking Not Allowed
                                <br>
                                <img src="./icons/nocooking.png" alt=""
                                    style="width: 50px; height: 50px; margin-top: 20px;">
                            </h3>
                        </div>
                        <div class="medium-box" style="text-align: center; padding: 10px;">

                            <div id="tenantsCarousel" class="carousel slide mt-2" data-bs-ride="carousel">

                                <div v-if="roomMates.length > 0" class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a :href="'userprofilepage.html?user=' + listing_dict.roomMates + '&name=' + listing_dict.landlord"
                                            style="text-decoration: none; color:black">
                                            <h4>
                                                Landlord
                                            </h4>
                                            <img class="img-account-profile rounded-circle" v-bind:src="landlordimg"
                                                alt="" style="width:75px ;height:75px;">
                                            <br>
                                            <h5>{{listing_dict.landlord}}</h5>
                                        </a>

                                    </div>
                                    <div v-for="[index, mate] in roomMates.entries()" class="carousel-item">
                                        <a :href="'userprofilepage.html?user=' + roomMatesId[index] + '&name=' + mate"
                                            style="text-decoration: none; color:black">
                                            <h4>
                                                Other Tenants
                                            </h4>
                                            <img v-bind:src="tenantsimg[index]"
                                                class="img-account-profile rounded-circle" alt=""
                                                style="width:75px ;height:75px;">
                                            <br>
                                            <h5>{{mate}}</h5>

                                        </a>
                                    </div>
                                </div>

                                <!-- <div v-else class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="./icons/noroomates.png" alt="" style="width:50px ;height:50px;">
                                        <br>
                                        <h5>No Room Mates!</h5>
                                    </div>
                                </div> -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#tenantsCarousel"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"
                                        style="filter: invert(100%)"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#tenantsCarousel"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"
                                        style="filter: invert(100%)"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 order-lg-last col-md-12 col-sm-12 order-md-last order-sm-last col-sm-6 me-6">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-5 col-sm-5 medium-box mx-4" id="MRTBOX">
                                <div :class="listing_dict.listingMrt">
                                    {{listing_dict.stationcode}}
                                </div>
                                <div style="margin:auto; text-align:center; padding: 15px;">
                                    <img src="./icons/mrt.png" alt="" style="height:30px; width:30px;">
                                    <h7 style="margin:auto;  margin-left:5px; text-align: center; font-weight:bold;">
                                        {{listing_dict.listingArea}} MRT</h7>
                                </div>

                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 medium-box mx-4 "
                                style="text-align: center;display:flex; align-items: center; justify-content: center;">
                                <h3>
                                    added to favourites
                                </h3>
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-11 col-md-11 col-sm-11 large-box">
                                <img class="img-account-profile rounded-circle" v-bind:src="landlordimg" alt=""
                                    style="width:75px ;height:75px;">
                                <h5>{{listing_dict.landlord}}</h5>
                                <button type="button" class="btn btn-primary">Send application</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div class="container-fluid m-auto mt-5" id="mapbox"
                style="width: 50%; outline: 1px black solid; text-align:center;">
                MAPBOX Here
            </div> -->
        </div>
    </div>
    <div class="container-fluid m-auto mt-5" id="mapbox"
        style="outline: 1px black solid; text-align:center; height: 300px; width: 75%">
        <div id="map" style="height: 100%; height: 100%; margin: auto;"></div>
    </div>
    </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script type="module" src="./jsfiles/indivpage_map.js"></script>

    <script>
        let value;
        let lat;
        let lng;
    </script>

    <script>
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
        value = params.id; // "some_value"

        console.log(value)
    </script>


    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-analytics.js";
        import { doc, getDoc, collection, getDocs, getFirestore } from 'https://www.gstatic.com/firebasejs/9.12.1/firebase-firestore.js';

        const firebaseConfig = {
            apiKey: "AIzaSyArV04a4S8V0wGmhYuFbo4-kXLjmrxLJc8",
            authDomain: "haus-testing.firebaseapp.com",
            projectId: "haus-testing",
            storageBucket: "haus-testing.appspot.com",
            messagingSenderId: "397764373658",
            appId: "1:397764373658:web:f662c290beee1f4a640323",
            measurementId: "G-15BEF38096"
        };

        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);

        const db = getFirestore();

        const docRef = doc(db, "listings", value);
        const docSnap = await getDoc(docRef);

        if (docSnap.exists()) {
            console.log("Document data:", docSnap.data());
            console.log("Document data:", docSnap.data().lat);
            lat = docSnap.data().lat;
            console.log("Document data:", docSnap.data().lng);
            lng = docSnap.data().lng;

            initMap(lat, lng)

        } else {
            // doc.data() will be undefined in this case
            console.log("No such document!");
        }
    </script>




</body>

</html>