<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>haus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="index.css">
    <script type="module" src="jsfiles/page.js"></script>
    <script type="module" src="jsfiles/index.js"></script>
    <script type="module" src="jsfiles/navbar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://unpkg.com/vue3-google-map"></script> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar py-3 ">
        <div class="container-fluid py-0 ">
            <div class="justify-content-start">
                <button id="menu-btn" class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon navbar-dark"></span>
                </button>
                <a class="navbar-brand ms-4 text-dark justify-content-start text-white" href="index.html">haûs <span><img src="./icons/hauslogo.svg" alt="" style="height: 40px;width:40px;"></span></a>
            </div>

            <ul class="nav align-middle justify-content-center p-0">
                <li class="nav-item" id="navbar_button_1">
                    <!-- <a class="nav-link text-dark text-white" style="background-color:rgb(55, 32, 40);" href="...">login</a> -->
                </li>
                <li class="nav-item" id="navbar_button_2">
                    <!-- <a class="nav-link text-dark text-white" style="background-color:rgb(55, 32, 40);" href="...">register</a> -->
                </li>
            </ul>
        </div>
    </nav>
    <div class="side-navbar d-flex justify-content-between flex-wrap flex-column" id="sidebar">
        <ul class="nav flex-column text-white w-100">
            <li class="nav-link sidelink">
                <span class="mx-2"><a href="viewingpage.html" style="text-decoration: none; color: black;">browse
                        listings</a></span>
            </li>
            <li class="nav-link sidelink">
                <span class="mx-2"><a href="comparelistings.html" style="text-decoration: none; color: black;">favourites</a></span>
            </li>
            <!-- <li class="nav-link sidelink">
                <span class="mx-2"><a href="#" style="text-decoration: none; color: black;">chat</a></span>
            </li>
            <li class="nav-link sidelink">
                <span class="mx-2"><a href="#" style="text-decoration: none; color: black;">contract</a></span>
            </li> -->
            <li href="#" class="nav-link sidelink">
                <span class="mx-2"></span>
            </li>
        </ul>
    </div>

    <div id="content">
        <div class="searchbg">
            <div class="container d-flex justify-content-center" id="selection">
                <form class="row row-cols-auto">
                    <div class="col">
                        <label class="visually-hidden" for="inlineFormSelectLocation">Location</label>
                        <select class="form-select" id="inlineFormSelectLocation">
                            <option selected>Location</option>
                            <option v-for="location in location_listings">{{location}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="visually-hidden" for="inlineFormSelectPref">RoomType</label>
                        <select class="form-select" id="inlineFormSelectPref">
                            <option selected>Room Type</option>
                            <option v-for="room_type in room_type_listings">{{room_type}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="visually-hidden" for="inlineFormSelectPref">Occupancy</label>
                        <select class="form-select" id="inlineFormSelectPref">
                            <option selected>Occupancy</option>
                            <option v-for="occupancy in occupancy_listings">{{occupancy}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="visually-hidden" for="inlineFormSelectPref">Price</label>
                        <select class="form-select" id="inlineFormSelectPref">
                            <option selected>Price</option>
                            <option v-for="price in price_listings">{{price}}</option>
                        </select>
                    </div>

                    <div class="col">
                        <button type="button" class="btn" style="background-color: #F8B709;">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12" id="listings-box-id">
                    <div id="listings-box">
                        <div class="container">
                            <div class="row">
                                <div class="col-6" v-for="(details, id) in listings_dict">
                                    <div class="card m-1">
                                        <div :id="'carouselControls' + id" class="carousel slide"
                                            data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="./images/cozyrm.jpeg" class="d-block w-100" alt="..."
                                                        style="max-height: 200px;">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="images/images.jpeg" class="d-block w-100" alt="..."
                                                        style="max-height: 200px;">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="./images/cozyrm.jpeg" class="d-block w-100" alt="..."
                                                        style="max-height: 200px;">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                :data-bs-target="'#carouselControls' + id" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                :data-bs-target="'#carouselControls' + id" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <a :href="'indivpage.html?id=' + id " class="stretched-link" style="position: relative; text-decoration: none; color: black;">
                                                <h5 class="card-title">{{details.listingAddress}}</h5>
                                                <p class="card-text">{{details.roomType}}</p>
                                                <p class="text-center">{{details.listingMrt}}
                                                    <span
                                                        class="badge rounded-pill text-bg-primary w-1 ms-5">{{details.distance}}
                                                        min to
                                                        MRT</span>
                                                </p>
                                            </a>
                                            <br>
                                           
                                            <p style="float: left;"><i style="font-size:24px"
                                                    class="fa">&#xf06e;</i> {{details.listingViews}}
                                                <!-- <p style="float: left;"><img src="./images/eyeicon.png" alt="" width="25px"> 15 -->
                                                <span>
                                                    <p style="float: right;"><sup>SGD</sup> {{details.price}}/ mth
                                                    </p>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-lg-block d-none col-6" id="map-box-id">
                    <div id="map-box" style="position: fixed; bottom: 0; height: 100%;">
                        <div id="map" style="height: 100%; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script>
        let search_bar_height = $('.searchbg').outerHeight()
        let top_nav_height = $('.navbar').outerHeight()

        $(document).ready(function ($) { //wait for the document to load
            $('#content').css({
                'margin-top': top_nav_height + 0 + 'px' //adjust the css rule for margin-top to equal the element height - 10px and add the measurement unit "px" for valid CSS
            });

            console.log($('#map-box-id').width())
            $('#map-box').css({
                'height': ($(window).height() - search_bar_height - top_nav_height) + "px",
                'width': $('#map-box-id').width() + "px",
                'top': search_bar_height + top_nav_height + "px"
            });
        });

        $(window).resize(function () {
            $('#content').css({
                'margin-top': top_nav_height + 0 + 'px' //adjust the css rule for margin-top to equal the element height - 10px and add the measurement unit "px" for valid CSS
            });

            $('#map-box').css({
                'height': ($(window).height() - search_bar_height - top_nav_height) + "px",
                'width': $('#map-box-id').width + "px",
                'top': search_bar_height + top_nav_height + "px"
            });
        });

        $(window).scroll(function () {

            let scrolled_y = $(window).scrollTop().toFixed(0)
            //console.log(scrolled_y)

            if (scrolled_y > search_bar_height) {
                $('#map-box').css({
                    'height': ($(window).height() - top_nav_height + scrolled_y) + "px",
                    'top': top_nav_height + "px"
                });
            } else {
                $('#map-box').css({
                    'height': ($(window).height() - search_bar_height - top_nav_height) + "px",
                    'top': search_bar_height + top_nav_height + "px"
                });
            }
        });

    </script>

    <!-- <script>
        //Initialize and add the map
        function initMap() {
            // The location of location
            var location = { lat: 1.304833, lng: 103.831833 };
            // The map, centered at location
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 14, center: location });
            // The marker, positioned at location
            var marker = new google.maps.Marker({ position: location, map: map });

            console.log(initMap);
        }
    </script> -->

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaO7dcyKs4biX1nmInftecJWjf8py7mRM&callback=initMap"
        async defer></script> -->

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-analytics.js";
        import { doc, getDoc, collection, getDocs, getFirestore } from 'https://www.gstatic.com/firebasejs/9.12.1/firebase-firestore.js';

        const firebaseConfig = {
            apiKey: "AIzaSyArV04a4S8V0wGmhYuFbo4-kXLjmrxLJc8",
            authDomain: "haus-testing.firebaseapp.com",
            projectId: "haus-testing",
            storageBucket: "haus-testing.appspot.com",
            messagingSenderId: "397764373658",
            appId: "1:397764373658:web:f662c290beee1f4a640323",
            measurementId: "G-15BEF38096"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);

        const db = getFirestore();


        const colRef = collection(db, "listings");
        const docsSnap = await getDocs(colRef);


        let listings_latlng_dict = {}

        try {
            const docsSnap = await getDocs(colRef);

            if (docsSnap.docs.length > 0) {
                docsSnap.forEach(doc => {
                    listings_latlng_dict[doc.id] = { "lat": doc.data().lat, "lng": doc.data().lng }
                })
                console.log(listings_latlng_dict)
            }
        } catch (error) {
            console.log(error);
        }

        // Create the script tag, set the appropriate attributes
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCaO7dcyKs4biX1nmInftecJWjf8py7mRM&callback=initMap';
        script.async = true;

        // Attach your callback function to the `window` object
        function initMap() {
            // JS API is loaded and available
            var location = { lat: 1.290270, lng: 103.851959 };
            // The map, centered at location
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 10, center: location });
            // The marker, positioned at location
            // var marker = new google.maps.Marker({ position: location, map: map });

            for (const [key, value] of Object.entries(listings_latlng_dict)) {
                // console.log(key, value)
                // console.log(value.lat)
                // var marker = new google.maps.Marker({ position: { lat: value.lat, lng: value.lng }, map: map });
                // addMarker({ lat: Number(value.lat), lng: Number(value.lng) }, map)
                new google.maps.Marker({
                    position: { lat: Number(value.lat), lng: Number(value.lng) },
                    label: key,
                    map: map,
                });
            }
            console.log(initMap);
        };

        // function addMarker(location, map) {
        //     // Add the marker at the clicked location, and add the next-available label
        //     // from the array of alphabetical characters.
        //     new google.maps.Marker({
        //         position: location,
        //         label: labels[labelIndex++ % labels.length],
        //         map: map,
        //     });
        // }

        window.initMap = initMap
        // Append the 'script' element to 'head'
        document.head.appendChild(script);
    </script>
</body>

</html>